<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <base href="/{version}/">
  <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon" />
  <title>Reactive Web Components</title>
  <script src="scripts/es5scripts.js"></script>
</head>

<body>
<h1>Reactive Web Components</h1>
<p>
  What follows is a demonstration of web components written as ES2015 classes, using
  Basic Web Component mixins, and written in a functional reactive programming way with
  all state managed by a Redux store, rendered with virtual-dom.
</p>
<!-- Here's where the magic is -->
<rwc-comment-box foo="bar"></rwc-comment-box>
</body>

</html>
